.CodeMirror {
    height: auto;
    border: 1px solid #ddd;
}

/* Hiding all tabs by default allows us to toggle the visible ones.
 * It prevents flashes on initial load too. */
.tab {
    display: none;
    padding: 0 20px;
}

/* Override footer color to always be transparent */
.footer {
    background-color: transparent;
}

/* Adjust bulma style to not introduce spacing inbetween tabs */
.navbar-item, .navbar-link {
    padding: 0;
}

/* Spinner styles */
.spinner {
    margin-top: -40px;
    margin-left: 250px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.difficulty-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

/* We must add the Font-Awesome font to the select tag after all existing fonts to allow for render */
select {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, 'FontAwesome', 'sans-serif';
}
